.site-navigation {
  position: relative;

  > .top-bar > .container,
  > .navbar > .container {
    padding: 0;
  }
}

.user-menu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    float: left;
    position: relative;
  }
}


