header(class='site-navigation')
    div(class='top-bar')
        div(class='container')
            div(class='user-menu col-sm-6')
                ul
                    li
                        a(href='/login') Login
                    li
                        a(href='/register') Register
            div(class='social-icons col-sm-6 pul-right')
                ul
                    li(class='facebook')
                        a(href='/share')
                            i(class='fa fa-facebook')
                    li(class='twitter')
                        a(href='/share')
                            i(class='fa fa-twitter')
                    li(class='linkedin')
                        a(href='/share')
                            i(class='fa fa-linkedin')
                    li(class='rss')
                        a(href='/share')
                            i(class='fa fa-rss')
    nav(class='navbar navbar-default')
        div(class='container')
            div(class='navbar-header')
                button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#main-navigation' aria-expanded='false' aria-controls='navbar')
                    span(class='sr-only') Toggle navigation
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')
                a(class='navbar-brand' href='#')
                    img(src='' alt='logo' class='logo')
            div(class='main-navigation')
                ul(class='nav navbar-nav')
                    li(class='active')
                        a(href='#') Home
                    li(class='active')
                        a(href='#') About
                    li(class='active')
                        a(href='#') Blog
                    li(class='active')
                        a(href='#') Services
                    li(class='active')
                        a(href='#') Contact us

